@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --vermelho-playify: #FF005C;
    --vermelho-playify-escuro: #BF113F;
    --roxo-playify: #3137C0;
    --azul-playify: #090F48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 30px - Espaçamento de 30 px em torno do elemento*/
    /* margin: 0px 30px - Espaçamento 0px vertical e 30px horizontal*/
    /* margin: 0px 30px 10px - Espaçamento 0px para cima, 30px horizontal e 10 para baixo*/

    /* margin: 0px 30px 10px 20px- 
    Espaçamento 0px para cima, 30px para direita e 10 para baixo e 20 para esquerda*/
    margin: 0 auto;
}

.banner {
    height: 100vh;

    background: rgb(5, 7, 59);
    background: linear-gradient(135deg, rgba(5, 7, 59, 1) 31%, rgba(0, 6, 165, 1) 100%);

}

header {
    height: 165px;

}

header div.container-grid {
    /* Porcentagem - Unidade relativa ao elemento pai */
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner header img {
    width: 125px;
    height: 130px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;

    font-family: 'Kdam Thmor Pro';
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: 500ms ease;
}

.menu a:hover {
    color: var(--vermelho-playify);
}

.container-grid .alinhamento {
    display: flex;
    justify-content: space-between;
}


.alinhamento {
    display: flex;
    justify-content: space-between;

}

.conteudo-banner {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 500px;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    gap: 90px;
}

.conteudo-banner p {
    color: white;

    font-family: "MADE Tommy";
    font-size: 22px;
}

.conteudo-banner h2 {
    color: white;

    font-family: "Kdam Thmor Pro";
    font-size: 40px;
}

.conteudo-banner span {
    color: var(--vermelho-playify);
}


.banner img {
    width: 710px;
    height: 580px;
}

#sobre {
    width: 100%;
    height: 1181;
    background-color: var(--azul-playify);

    padding-bottom: 232px;
    padding-top: 241px;
    padding-left: 350px;
    padding-right: 200px;
}

#sobre img {
    width: 600px;
    height: 398px;
    position: absolute;

    top: 1055px;
    left: 180px;

    display: block;

    overflow: hidden;

    border-right: 23px solid var(--vermelho-playify-escuro);
    white-space: nowrap;
    margin-right: -50px;

    border-radius: 15px;
}

#sobre .container-sobre {
    display: flex;
    justify-content: space-between;
}

#sobre .conteudo-sobre {
    background-color: var(--roxo-playify);

    width: 1250px;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 500px;
    padding-right: 60px;
    gap: 30px;

    border-radius: 15px;
}

#sobre h2 {
    font-family: "Kdam Thmor Pro";
    font-size: 30px;
    color: white;
    font-weight: 100;
}

#sobre p {
    color: white;

    font-family: "MADE Tommy";
    font-size: 24px;
    font-weight: 100;
}

#cases {
    background-image: url(img/bolinhas.svg);
    background-color: #05073B;
}


/* 
.paralax {
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: #05073B;
}

.background-paralax {
    background-image: url(img/bolinhas.svg);

    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /* background-repeat: no-repeat;
    height: 100%;

    animation: rotateBackground 20s linear infinite;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.conteudo-paralax {
    position: absolute;
    top: 0;
}
 */


#cases p {
    text-align: center;

    font-size: 30px;
    font-family: "Kdam Thmor Pro";
    color: white;

    padding-top: 100px;


}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 230px;
    padding-top: 120px;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #232f9c40;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 22px;

}

.card img {
    height: 67%;
    width: 100%;

    border-radius: 38px;
    padding: 20px;
}

.card h2 {
    text-align: center;

    font-family: 'Kdam Thmor Pro';
    font-size: 24px;
    font-weight: 100;

    padding-bottom: 50px;
    color: white;
}



#contato {
    background-color: #090F48;
    display: flex;
    justify-content: space-between;

    padding-top: 200px;
    padding-right: 270px;
}

#contato .conteudo-contato {
    text-align: center;
}


#contato h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'Kdam Thmor Pro';
    font-weight: 100;
    margin-left: 70px;
}

#contato img {
    width: 730px;
    height: 710px;

    margin-left: 80px;
}


#contato form {
    width: 120%;
    border-radius: 80px;

    background-color: var(--roxo-gamifica);
    color: #fff;
    font-family: "Montserrat";

    margin-top: 85px;
}

#contato form label {
    margin-bottom: 15px;
    font-size: 22px;
}

.campo {
    width: 100%;
    margin-bottom: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 50px;

    color: #2f2f2f;
    background-color: #F1F1FD;

    border: none;
    border-radius: 30px;

    outline: none;
    text-indent: 17px;

    font-family: "MADE Tommy";
    font-size: 20px;
}

.campo-textarea {
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.campo-textarea textarea {
    color: #2f2f2f;
    background-color: #F1F1FD;
    border: none;
    border-radius: 30px;
    padding: 10px;

    font-family: "MADE Tommy";
    font-size: 20px;
    outline: none;
    resize: none;
    text-indent: 17px;
    height: 50px;
}


.campo input:focus,
.campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}

#contato form button {
    height: 40px;
    width: 40%;

    font-family: "MADE Tommy";
    font-size: 17px;
    font-weight: 600;

    color: white;
    background-color: #4587BF;

    border: none;
    border-radius: 30px;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 500ms
}

#contato form button:hover {
    background-color: #08be54;
}

#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #626262;
}



footer {
    height: 190px;
    background-color: #00022C;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'MADE Tommy';
    font-weight: 100;
}

.redes-sociais {
    height: 50%;
    width: 25%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer svg {
    width: 50px;
    height: 50px;
    color: white;

    cursor: pointer;
    transition: 500ms
}

footer svg:hover {
    color: var(--vermelho-playify-escuro);
}

@media screen and (max-width: 1500px) {
    .banner img {
        width: 650px;
        height: 600px;
    }

    .conteudo-banner {
        padding-top: 70px;
    }

    #sobre {
        padding: 150px;
    }

    #sobre img {
        position: absolute;
        top: 119.8%;
        left: 150px;
        height: 72%;
    }

    .conteudo-sobre h2 {
        padding-left: 150px;
        padding-bottom: 20px;
        padding-top: 65px;
    }

    .container-sobre p {
        padding-left: 155px;
        padding-bottom: 75px;
    }
}



@media screen and (max-width:1400px) {
    .conteudo-banner h2 {
        font-size: 35px;
    }

    #sobre h2 {
        font-size: 28px;
    }

    #sobre p {
        font-size: 22px;
    }
}




@media screen and (max-width: 1300px) {
    .alinhamento img {
        width: 60%;
    }

    .conteudo-banner p {
        font-size: 20px;
    }

    .conteudo-banner h2 {
        font-size: 35px;
    }


    #sobre {
        padding: 100px;
    }

    #sobre img {
        position: absolute;
        top: 113%;
        left: 100px;
        height: 72.5%;
    }
   

    #cases .container-cards {
        padding: 100px;
        gap: 50px;
        padding-bottom: 15%;
    }

    .card {
        width: 25%;
    }

    #contato img {
        margin-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    nav.menu {
        width: 600px;
    }

    .alinhamento img {
        width: 550px;
        height: 485px;
        margin-right: -40px;
    }

    .conteudo-banner h2 {
        font-size: 30px;
    }

    #sobre {
        padding: 100px;
    }

    #sobre img {
        position: absolute;
        top: 115.4%;
        left: 100px;
        height: 85.2%;
        width: 46%;
    }

    #sobre h2 {
        font-size: 24px;
        padding-left: 108px;
    }

    #sobre p {
        font-size: 20px;
        padding-left: 108px;
    }
}