@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --vermelho-playify: #FF005C;
    --vermelho-playify-escuro: #BF113F;
    --roxo-playify: #3137C0;
    --azul-playify: #090F48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 30px - Espaçamento de 30 px em torno do elemento*/
    /* margin: 0px 30px - Espaçamento 0px vertical e 30px horizontal*/
    /* margin: 0px 30px 10px - Espaçamento 0px para cima, 30px horizontal e 10 para baixo*/

    /* margin: 0px 30px 10px 20px- 
    Espaçamento 0px para cima, 30px para direita e 10 para baixo e 20 para esquerda*/
    margin: 0 auto;
}

.banner {
    height: 100vh;

    background: rgb(5, 7, 59);
    background: linear-gradient(135deg, rgba(5, 7, 59, 1) 31%, rgba(0, 6, 165, 1) 100%);

}

header {
    height: 165px;

}

header div.container-grid {
    /* Porcentagem - Unidade relativa ao elemento pai */
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner header img {
    width: 125px;
    height: 130px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;

    font-family: 'Kdam Thmor Pro';
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: 500ms ease;
}

.menu a:hover {
    color: var(--vermelho-playify);
}

.alinhamento {
    display: flex;
    justify-content: space-between;
}

.conteudo-banner {
    height: calc(100vh - 180px);
    padding-top: 50px;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    gap: 80px;
}

.conteudo-banner p {
    color: white;

    font-family: "MADE Tommy";
    font-size: 22px;
}

.conteudo-banner h2 {
    color: white;

    font-family: "Kdam Thmor Pro";
    font-size: 40px;
}

.conteudo-banner span {
    color: var(--vermelho-playify);
}


.banner img {
    width: 792px;
    height: 660px;
}

.alinhamento button {
    width: 45%;
    height: 50px;
    
    background-color: transparent;
    
    border: 5px solid var(--vermelho-playify);
    border-radius: 50px;
    text-transform: uppercase;

    font-family: "Kdam Thmor Pro";
    color: var(--vermelho-playify);
    
}

#sobre img {
    width: 600px;
    height: 450px;

    display: block;

    overflow: hidden;

    border-right: 23px solid var(--vermelho-playify-escuro);
    white-space: nowrap;
}


#sobre {
    width: 100%;
    height: 1181;
    background-color: var(--azul-playify);
}

#sobre .container-sobre {
    display: flex;
    justify-content: space-between;

    padding-bottom: 232px;
    padding-top: 241px;
    padding-left: 261px;
    padding-right: 261px;
}

#sobre .conteudo-sobre {
    background-color: var(--roxo-playify);

    width: 1050px;
    height: 706.71px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
}

#sobre h2 {
    font-family: "Kdam Thmor Pro";
    font-size: 24px;
    color: white;
}

#sobre p {
    color: white;

    font-family: "MADE Tommy";
    font-size: 20px;
}
